@font-face{
    src: url(../font/nightmare-pills-30706/NightmarePills-BV2w.ttf);
    font-family: Nightmare;
}

@font-face{
    src: url(../font/death-hector-24640/DeathHector-E28z.ttf);
    font-family: DeathHector;
}

@font-face{
    src: url(../font/something-strange-17510/SomethingStrange-vjYD.ttf);
    font-family: SomethingStrange;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    text-align: left;
    color: #3a3a3a
}

hr{
    height: 1px;
    background-color: #3a3a3a;
    border: none;
    
}
p span{
    font-size: 20px;
    font-weight: bolder;
    color: #de1111;
    font-family: Nightmare;
}

.btn{
    background-color:  #de1111;
    color: #fff;
    font-family: Nightmare;
    font-size: 15px;
    border: 2px solid #de1111
}

.btn:hover{
    background-color:  transparent;
    color: #de1111;
}

.popup-yes,.popup-no{
    font-family: Nightmare;
    width: 100vw;
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 5;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.popup-yes h1, .popup-no h1{
    
    font-size: 4em
}

.popup-yes h2, .popup-no h2{
    font-family: DeathHector;
    font-size: 5em;
}

.no h3{
    font-family: SomethingStrange;
    color: #fff;
    font-size: 6em;
    float: right;
    text-align: center;
    margin: 60px
}

.no h3 span{
    font-size: 2em
}