<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Evil Bunny Group</title>
   
    <!-- Font Awesome -->
     {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design for Bootstrap -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <style>
        @font-face{
    src: url(../font/nightmare-pills-30706/NightmarePills-BV2w.ttf);
    font-family: Nightmare;
}

@font-face{
    src: url(../font/death-hector-24640/DeathHector-E28z.ttf);
    font-family: DeathHector;
}

@font-face{
    src: url(../font/something-strange-17510/SomethingStrange-vjYD.ttf);
    font-family: SomethingStrange;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    text-align: left;
    color: #3a3a3a
}

hr{
    height: 1px;
    background-color: #3a3a3a;
    border: none;
    
}
p span{
    font-size: 20px;
    font-weight: bolder;
    color: #de1111;
    font-family: Nightmare;
}

.btn{
    background-color:  #de1111;
    color: #fff;
    font-family: Nightmare;
    font-size: 15px;
    border: 2px solid #de1111
}

.btn:hover{
    background-color:  transparent;
    color: #de1111;
}

.popup-yes,.popup-no{
    font-family: Nightmare;
    width: 100vw;
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 5;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.popup-yes h1, .popup-no h1{
    
    font-size: 4em
}

.popup-yes h2, .popup-no h2{
    font-family: DeathHector;
    font-size: 5em;
}

.no h3{
    font-family: SomethingStrange;
    color: #fff;
    font-size: 6em;
    float: right;
    text-align: center;
    margin: 60px
}

.no h3 span{
    font-size: 2em
}
    </style>
</head>

<body>

    <!-- Start your project here-->

    <div class="flex-column" style="max-width: 100%;width: 700px;text-align: center;margin: 0 auto;background-color: rgba(255,255,255,0.8);padding: 15px 30px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div style="text-align: center"><img src="{% static 'img/evilbunnylogo.png' %}" style="max-width: 100%;width:700px"></div>
        <hr />
        <p><strong>Your objective is simple:</strong> Widespread Misery</p>
        <p><strong>Your motive is a little bit more complex:</strong> Evil - It's my nature</p>
        <p><strong><span>Stage One:</span></strong><br>
            To begin your plan, you must first Traumatize a Rich and Powerful CEO. This will cause the world to sit up and take notice, stunned by your arrival. Who is this Demon Straight Out of Hell? Where did they come from? And why do they look so good in a Supervillain Costume with Gimmicks?</p>
        <p><strong><span>Stage Two:</span></strong><br>
            Next, you will Destroy that Opera House in Sydney. This will cause countless hordes of Mean English Teachers to flock to you, begging to do your every bidding. Your name will become synonymous with Fuzzy bunnies, as lesser men whisper your name in terror.</p>
        <p><strong><span>Stage Three:</span></strong><br>
            Finally, you will Activate your Plague of Doom, bringing about Pain, suffering, the usual. This will all be done from a Underground Secret Headquarters of Doom, an excellent choice if we might say. These three deeds will herald the end, and the citizens of this planet will have no choice but to elect you their new god.
        </p>
        <p><strong><span>Trust us, it'll all come together in the end.</span></strong></p>
        <p style="text-align: center;font-size: 18px;font-weight: bold">Do you accept?</p>
        <div onclick="open_yes()" class="btn">YES</div>
        <div onclick="open_no()" class="btn">NO</div>


        <div class="popup-yes" id="popup-yes">
            <div style="width: 700px; max-width: 100%;text-align: center;margin: 0 auto">
                <br><br><br><br>
                <h1>THIS MESSAGE WILL SELF DESTRUCT IN:</h1>
                <br><br>
                <h2 id="timer">
                    <script type="text/javascript">
                        countDownYes();
                    </script>
                </h2>
            </div>

        </div>

        <div class="popup-no" id="popup-no">
            <div style="width: 700px; max-width: 100%;text-align: center;margin: 0 auto">
                <br><br><br><br>
                <h1>THIS MESSAGE WILL SELF DESTRUCT IN:</h1>
                <br><br>
                <h2 id="timer">
                    <script type="text/javascript">
                        countDownNo();
                    </script>
                </h2>

            </div>

        </div>
    </div>

    <!-- End your project here-->

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <!-- Your custom scripts (optional) -->
   <script type="text/javascript">
        function open_yes() {
            countDownYes();
            document.getElementById("popup-yes").style.display = "block";
            
        }
        function open_no() {
            countDownNo();
            document.getElementById("popup-no").style.display = "block";
            
        }
        
        var count = 7; // Timer
        var redirect_yes = "https://www.google.co.za/"; // Target URL
        function countDownYes() {
            var timer = document.getElementById("timer"); // Timer ID
            if (count > 0) {
                count--;
                timer.innerHTML = count; // Timer Message
                setTimeout("countDownYes()", 1000);
            } else {
                window.location.href = redirect_yes;
            }
        }
        var redirect_no = "no.html"; // Target URL
        function countDownNo() {
            var timer = document.getElementById("timer"); // Timer ID
            if (count > 0) {
                count--;
                timer.innerHTML = count; // Timer Message
                setTimeout("countDownNo()", 1000);
            } else {
                window.location.href = redirect_no;
            }
        }


        
    </script>

</body></html>
